<navbar-clube></navbar-clube>
<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class="border border-light rounded p-5">
    <div>
      <button type="button" class="btn btn-dark btnAdicionar" (click)="ExibirFormularioCadastro()">
        Novo dependente
      </button>
    </div>

    <hr/>

    <div class="mensagem" *ngIf="dependentes.length == 0">
      <h5 class="text-center">A lista de dependentes está vazia</h5>
      <div class="icone">
        <i class="bi bi-file-earmark-excel-fill"></i>
      </div>
    </div>
    <div *ngIf="dependentes.length > 0">
      <table class="table table-striped table-hover table-sm table-responsive">
        <tr class="thead tabela">
          <th>Id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Parentesco</th>
          <th>Cartão sócio</th>
          <th>Ações</th>
        </tr>

        <tr *ngFor="let dependente of dependentes">
          <td>{{dependente.id}}</td>
          <td>{{dependente.nome}}</td>
          <td>{{dependente.email}}</td>
          <td>{{dependente.parentesco}}</td>
          <td>{{dependente.socio.numeroCartao}}</td>
          <td>
            <button type="button" class="btn btn-success" style="margin-right: 20px;" (click)="ExibirFormularioAtualizacao(dependente.id)">Atualizar</button>
            <button type="button" class="btn btn-danger" (click)="ExibirConfirmacaoExclusao(dependente.id, dependente.nome, conteudoModal)">Excluir</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row justify-content-center">
    <div class="col-9 border border Light rounded p-5 shadow" *ngIf="formulario">
      <h6 class="titulo-cadastro">{{titulo}}</h6>

      <form [formGroup]="formulario" (ngSubmit)="EnviarDependente()">
        <div class="form-group">
          <label>Nome:</label>
          <input type="text" class="form-control form-control-sm" formControlName="nome" placeholder="Digite seu nome">
        </div>

        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control form-control-sm" formControlName="email" placeholder="Digite seu email">
        </div>

        <div class="form-group">
          <label>Parentesco:</label>
          <input type="text" class="form-control form-control-sm" formControlName="parentesco" placeholder="Digite o parentesco">
        </div>

        <div class="form-group">
          <label>Numero do cartão:</label>
          <input type="number" class="form-control form-control-sm" formControlName="numeroCartao" placeholder="Digite o número do cartão do sócio">
        </div>

        <br>
        <br>

        <label>Selecione o sócio: </label>

        <select name="form-control form-control-sm" id="socios" formControlName="fkSocio">
            <option value="" disabled selected>Selecione um sócio</option>
            <option *ngFor="let socio of socios" [ngValue]="socio.id">{{socio.nome}}</option>
        </select>

        <!-- <div class="form-group">
          <label>Id do Socio:</label>
          <input type="number" class="form-control form-control-sm" formControlName="fkSocio">
        </div> -->

        <div class="container">
          <div class="row justify-content-end">
            <div>
              <button type="submit" class="btn btn-sm btn-success">Salvar</button>
            </div>
            <div class="pl-1">
              <button type="submit" class="btn btn-sm btn-outline-slight" (click)="Voltar()">Voltar</button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #conteudoModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmação</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Prosseguir com a exclusao do dependente {{nomeDependente}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="ExcluirDependente(dependenteId)">Sim</button>
  </div>
</ng-template>


