.espacamento-btn
{
    margin-left: 10px;
}

.mensagem
{
    margin-top: 100px;
}

h5 
{
    margin-top: 10px;
    color: #4988bf;
}

.icone
{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.bi
{
    color: #4988bf;
    font-size: 100px;
}

@media(max-width: 525px)
{
    #btn-atualizar{
        font-size: 0.65em;
    }
    #btn-excluir{
        font-size: 0.65em;
    }
}

@media(max-width: 498px)
{
    #btn-atualizar{
        font-size: 0.41em;
    }
    #btn-excluir{
        font-size: 0.41em;
    }
}

@media(max-width: 470px)
{
    #btn-atualizar{        
        margin-bottom: 5px;
        margin-left: 2px;
    } 
    #btn-excluir{
        margin-left:  5px;
    }   
}

@media (max-width: 330px){
    #btn-NovaCategoria{
        font-size: 0.45em;
    }
}
@media (max-width: 290px){
    #btn-NovaCategoria{
        font-size: 0.2em;
    }
}