  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  nav a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }

  #nav-color {
    background-image: linear-gradient(to right, #0477BF, #5CE3F2);
  }

  

 @media (max-width: 348px){
   img{
     width: 60px;
     height: 35px;
   }
   .navbar-brand{
     font-size: 12px;
   }
   .container-fluid{
     margin: auto;
   }
}