<nav class="navbar fixed-top navbar-expand-lg navbar-primary" id="nav-color">
  <div class="container-fluid">
  <img src="../../assets/imagens/Logo_clube.png"  width="75" height="50" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" [routerLink]="['/home']">Clube MAG | IT</a>
    <button 
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler navbar-light"   
    aria-controls="navbarNav"
    aria-expanded="false" 
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>   
    <div class="collapse navbar-collapse justify-content-center "  id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- Linkando as rotas definidas no app-routing -->
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/socio']">Socios</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/dependente']">Dependentes</a>
          </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/categoria']">Categorias</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/mensalidade']">Mensalidades</a>
        </li>        
      </ul>
    </div>
  </div>
  </nav>

  <br> <br> 

  <div class="container">
    <hr>
  </div>
