<navbar-clube></navbar-clube>
<div class = "container">
  <hr>
  <div class="container-fluid">
    <div class="col-12">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/imagens/img1.jpg" alt="Crianças nadando">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/imagens/img4.jpg" alt="Clube Mag|IT">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/imagens/img2.jpg" alt="Atração do Clube Mag|IT">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr>
  <br>
    <h3>Quem Somos</h3>
    <br><br>
    
    <dl class="row">
      <dt class="col-lg-5">
        <h5>O parque aquático 1º do Brasil e da América Latina e 5º mais visitado do mundo tem mais de 55 atrações.</h5>
      </dt>
      <dd class="col-lg-7">
        <p>
            Com mais de 55 atrações, a maioria delas com águas quentes circulantes, localizado em Ribeirão Preto, o Clube MAG | IT é o parque aquático mais visitado do Brasil e da América Latina e o quarto mais visitado em todo o mundo. Muitas de suas atrações são exclusivas e patenteadas, que vão dos complexos de toboáguas até a piscina de surf 180º, passando por praias com ondas e rio lento com algumas corredeiras. Chama a atenção também sua montanha russa aquática e o gigante Lendário, um toboágua com cinco pistas, duas de boias (base a 26 metros de altura) e três de cápsulas, onde você perde o chão a 28 metros de altura e pode alcançar velocidades que ultrapassam os 70 km por hora.
            O parque ocupa uma área de 300 mil metros quadrados e é abastecido pelas águas quentes do Aquífero Guarani – com temperaturas que variam de 26ºC a 38ºC. O parque funciona 365 dias por ano e tem capacidade para receber até 20 mil pessoas por dia – média facilmente alcançada em dias de feriados nacionais e alta temporada.
            Sua infraestrutura conta com 32 lanchonetes e restaurantes, vestiários e armários. Todas as atrações têm o suporte de monitores e salva-vidas. E, para ajudar no cuidado das crianças, o Clube MAG | IT conta com o Centro de Atendimento à Criança (CAC) e o ambulatório. Além disso, a limpeza e manutenção das piscinas, atrações e áreas comuns do parque são feitas diariamente.
        </p>
      </dd>    
      
    </dl>
</div>

    