<form>
    <div class="container">
      <div class="row content">
        <div class="col-md-6 mb-3">
          <img src="https://cdn.discordapp.com/attachments/912417352015040542/935992363875180574/Login_logo.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6">
          <h3 class="text-center" style="color: #0477bf">Iniciar sessão</h3>
          <div class="form-group">
            <label for="username">Email</label>
            <input [(ngModel)] = "usuario.Usuario" type="username" name="username" class="form-control" placeholder="Usuário">
          </div>

          <div class="form-group">
            <label for="password">Senha</label>
            <input [(ngModel)] = "usuario.Senha" type="password" name="password" class="form-control" placeholder="Senha">
          </div>
          <br>
          <div class="row">
            <div class="col text-center">
              <button class= "btn btn-class" type="submit" name="action" (click)="fazerLogin()" style="color: white; background-color: #0477bf" >
                Login
              </button>
            </div>
          </div>
          <br>
          <div class="row">
          </div>
        </div>
      </div>
    </div>
</form>

<animacao-ondas></animacao-ondas>
