main{
    background-color: #00ac96;
  }

  .content{
    background-color: #00ac96;
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);

  }
  .sigin-text{
    font-style: normal;
    font-weight: 600 !important;
  }


.form-container{
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #0477bf;
}

  .form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
  }

  .btn-class{
    border-color: #00ac96;
    color: #00ac96;
  }

  .btn-class:hover{
    background-color: #00ac96;
  }

  .btnAdicionar{
    color: white;
    background-color: #4988bf;
    border: none;
  }
  .tabela{
    background-color: #4988bf;
    color: white
  }

  .titulo-cadastro{
    font-size: 30px;
    color: #0477bf;
  }

  .botao-Salvar{
    background-color: #00ac96;
  }
